.primary-header {
    background-color: var(--clr-primary-400);
    display: flex;
    justify-content: center;
    
    padding-block: 1.25rem;
}

.header-logo {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.header-title {
    color: var(--clr-neutral-100);
    font-weight: var(--fw-medium);
    font-size: var(--fs-400);
}